li{
display: inline;
margin:20px;
}
.App{
    background-color: aliceblue;
    height: 100vh;
    text-align: center;
    
}
@media screen and (max-width:450px){
    li{
        font-size: 10px;
    }
}